<h1 style="color: #5e9ca0; text-align: center;">Welcome to simple docker APP</h1>
<h2 style="color: #2e6c80; text-align: center;">Running in container: {{ hostname }}</h2>
<h2 style="color: #2e6c80; text-align: center;">With IP: {{ ip }}</h2>
<h2 style="color: #2e6c80; text-align: center;">Select the film to watch:</h2>
<h2 style="color: #2e6c80; text-align: center;"></h2>
<form method="post" action="/films">
<h2 style="color: #2e6c80; text-align: center;"><input type="submit" name="show_films" value="Show Films"></h2>
</form>
<p>&nbsp;</p>
<p><strong>&nbsp;</strong></p>